<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="../public/js/app.js"></script>
</head>
<body>
    <header>
        <h1>ZOOM</h1>
    </header>

    <main>
        <form id="nickname">
            <input type="text" placeholder="Choose a nickname" required>
            <input type="submit" value="SAVE">
        </form>
        <hr>
        <ul></ul>
        <form id="message">
            <input type="text" placeholder="write a msg" required>
            <input type="submit" value="SEND">
        </form>
    </main>
</body>
</html>